*{
    margin: 0;
    padding: 0;
}

header{
   display: flex;
   width: 100%;
    min-width: 300px;
    top: 0px;
    min-height: 90px;
    background-color: black;
}

 h1{
  font-size: 60px;
  color: white;
  text-align: left;
  margin-right: auto;
  margin-left: auto;

}

 .container img{
    width: 229px;
    height: 120px;
   padding-top: 10px;
   padding-left: 20px;
   min-width: 50px;
}

.container{
   display: flex;
  align-items: center;
  width: 100%;
}

#menmain{
  
   width: 100%;
   background-image: url(../principal/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;

}



#menu{
  max-width: 150px; 
}

ul{
    list-style-type: none;
    background-color: #555;
}

li{
    color: white;
    font-size: 25px;
    text-align: left;
    margin-top: auto;  
    margin-bottom: auto;
    padding: 50px 0px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;

}

li a{
    text-decoration: none;
    color: white;   
}

 li a:hover{
    background-color: #555;
    color: blue;
}
 

 #rodape{
    background-color: black;
    width: 100%;
    height: 100%;
   
   
 }

 #rodape p{
    color: white;
    
 }

 .local{
    padding: 6px 10px;
    
 }

 .end{
    display: flex;
    align-items: center;
    padding: 5px 0;
 }

 .end img{
    width: 27px;
 }

 .end p{
    padding: 0px 7px;
 }

 .end a{
    color: white;
    text-decoration: none;
 }

 .tel{
    display: flex;
    align-items: center;
    padding: 5px 0;
 }

 .tel img{
    width: 27px;
 }

 .tel p{
    padding: 0px 7px;
 }

 .tel a{
    color: white;
    text-decoration: none;
 }

 .email{
    display: flex;
    align-items: center;
    padding: 5px 0;
 }

 .email img{
    width: 27px;
 }

 .email p{
    padding: 0px 7px;
 }

 .email a{
    color: white;
    text-decoration: none;
 }

.redes img{
    float: right; 
    padding:5px 12px;  
}




























